@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');
body{
    margin:0;
    font-family: "Nunito Sans";
    font-weight:500;
    line-height: 1.6;
    background: white;
    overflow-x: hidden;
    color: #939393;
}

.navbar-first-container{
    width:100%;
    height:fit-content;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    z-index:10;
}


.navbar-second-container{
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height:fit-content;
    line-height:1.6;
}

.navbar-main-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-left{
    padding-top:10px;
}

.navbar-left a{
    border : 2px solid white;
    text-decoration:none;
    font-size: 24px;
    display:inline-block;
    width:40px;
    text-align: center;
    color:white;
    
}

.navbar-right{
    width:fit-content;
    display: inline-block;
    margin-left:25%;
}
.navbar-right ul{
    padding:0;
    text-decoration: none;
    display:flex;
    flex-direction: row; 
    list-style-type: none;
    grid-column-gap:2rem;
    color:white;
}
.navbar-right a{
    text-decoration: none;
    color:white;
}
.navbar-right ul li{
    cursor:pointer;
}
.navbar-right ul:hover li{
        opacity:0.6;
}
.navbar-right ul li:hover{
    opacity:1;
}
.navbar-first-container.scrolled{
    background-color:white;
    padding-bottom:10px;
    padding-top:0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -130px;
}
.navbar-first-container.scrolled .navbar-left a{
    border : 2px solid black;
    color:black;
}
.navbar-first-container.scrolled .navbar-right a{
    color: black;
}
.navbar-first-container.scrolled.awake{
    margin-top:0;
    transition: 0.3s all ease-out;
}

/* Home */

.home-section{
    width:100%;
    position:relative;
    background-image: url(./images/johndoe.webp);
    background-position: 50% -25px;
    background-size: 78% auto;
    min-height: 600px;
    height: calc(100vh);
}
.home-first-container{
    margin-top:10px;
    position:absolute;
    color:white;
    width:100%;
    height:100%;
}

.home-second-container{
    height:100%;
    width:30%;
    position:absolute;
}

.home-main-container{
    padding-left:15%;
    position:relative;
    top:40%;
    font-family: "Nunito Sans";
    font-size: 40px;
}

.home-main-container .second-heading{
    padding-top:10px;
}

/* About */

.about-section{
    padding:100px 0;
}

.about-outer-container{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-flex-container{
    display: flex;
    flex-direction: row;

}

.about-img-container{
    position: relative;
    width: 60%;
    padding-right: 3rem;
}

.about-img-wrap{
    position:relative;
    height:100%
}

.about-img-wrap::before{
    z-index: -1;
    right: 0;
    -webkit-transform: translate(40%, -20%);
    -ms-transform: translate(40%, -20%);
    transform: translate(40%, -20%);
    position: absolute;
    content: "";
    width: 304px;
    height: 264px;
    background: url(./images/dots.png.webp);
}

.profile-img{
    width:100%;
    height:auto;
}

.about-section-bio-container{
    position:relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 3rem;
}

.about-section-bio{
    position:relative;
    width:100%;
}

.about-section-heading h1{
    color:Black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 3rem;
}

.skill-set{
    font-size: 19px;
    margin-bottom:3rem;
    margin-top:3rem;
}

.progress{
    overflow: visible;
    margin-bottom: 26px;
    height: 4px;
    display:flex;
    line-height: 0;
    font-size:.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar{
    width:85%;
    background-color:#96bb7c;
    position: relative;
    border-radius: 4px;
    overflow: visible;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
}

.progress .progress-bar span{
    background-color: #96bb7c;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    line-height: 10px;
    padding: 2px 3px 2px 4px;
    right: -1.4em;
    border-radius: 2px;
}

.progress .progress-bar span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #96bb7c;
    border-width: 5px;
    margin-left: -5px;
}

/* Portfolio*/

.portfolio-section{
    padding: 75px 0;
}

.portfolio-outer-container{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-heading-container{
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.portfolio-heading{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio-heading h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:0.5rem;
    margin-top:0;
    font-weight:500;
    line-height:1.2;
    font-family: "Nunito Sans";
    color: #000000;
}

.portfolio-content-container{
    
    margin-bottom:3rem;
    margin-top:40px;
}

.portfolio-content-flex-container{
    position:relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-card-container{
    position:relative;
    padding:0 15px;
    padding-bottom:50px;
    max-width:30%;
    height:auto;
}

.portfolio-card-container a{
    position:relative;
    overflow:hidden;
    display:inline-block;
}

.portfolio-card-container a :hover {
    opacity:2;
}

.portfolio-card-container > a > img{
    width:100%;
    height: 100%;
}

.card-content{
    position: absolute;
    top: 20px;
    width:100%;
    text-align:center;
    visibility: hidden;
}

.card-content h1{
    color:white;
    font-family:"Nunito Sans";
    font-size:30px;
}

.card-content .category{
    color:#96bb7c;
    font-size:20px;
}


#card-container-1:hover #card-image-1{
    transform:scale(1.2);
    filter:brightness(50%);
    transition: .4s all ease-out;
}
#card-container-1:hover #card-content-1{
    visibility: visible;
}  

#card-container-2:hover #card-image-2{
    transform:scale(1.2);
    filter:brightness(50%);
    transition: .4s all ease-out;
}
#card-container-2:hover #card-content-2{
    visibility: visible;
}  

#card-container-3:hover #card-image-3{
    transform:scale(1.2);
    filter:brightness(50%);
    transition: .4s all ease-out;
}
#card-container-3:hover #card-content-3{
    visibility: visible;
}  

#card-container-4:hover #card-image-4{
    transform:scale(1.2);
    filter:brightness(50%);
    transition: .4s all ease-out;
}
#card-container-4:hover #card-content-4{
    visibility: visible;
}  


/* Resume */

.resume-section{
    padding:70px 0;
}

.resume-outer-container{
    max-width:1140px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
}

.resume-heading-flex-container{
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
}

.resume-heading-main-container{
    position:relative;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
    margin-bottom: 3rem;
}
.resume-heading-main-container h1{
    margin:0 auto;
    font-size:3rem;
    font-family: "Nunito Sans";
    color:black;
    font-weight: 500;
}

.resume-content-flex-container{
    display:flex;
    flex-wrap:wrap;
    margin:0 -15px;
}

.resume-content-img-container{
    max-width:33.33%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.resume-content-img-container img{
    width:100%;
    height:auto;
}

.resume-content-bio-container{
    flex-basis: 56%;
    max-width:58.33333333%;
    margin-left:auto;
    padding:0 15px;

}

.resume-content-bio-container h3{
    color:black;
    margin-bottom:1rem;
    margin-top:0;
    line-height:1.6;
    font-weight: 500;
    font-size:1.75rem;
}

.resume-bio-item-flex-container{
    display:flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.resume-bio-item-main-container h4{
    margin-bottom:0.5rem;
    margin-top:0;
    font-size:18px;
    font-weight: 500;
    line-height: 1.2;
    color:black;
}

.date{
    margin-left:auto;
}

.button-container{
    position:relative;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 30%;
    padding: 0 20px;
    margin-bottom: 1rem
}

.button-container a{
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    background: #96bb7c;
    border-color: #96bb7c;
    text-align: center;
    vertical-align: middle;
    border-width: 0;
    text-decoration: none;
    line-height: 1.5;
}

.button-container:hover{
    filter:brightness(110%);
    transition: .15s all ease-out;
}

/* Contact  */

.contact-section{
    padding-top:70px;
    padding-bottom:250px;
}

.contact-outer-container{
    max-width:1140px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
}

.contact-heading-flex-container{
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
}

.contact-heading-main-container{
    position:relative;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
    margin-bottom: 3rem;
}
.contact-heading-main-container h1{
    margin:0 auto;
    font-size:3rem;
    font-family: "Nunito Sans";
    color:black;
    font-weight: 500;
}

.contact-info-flex-container{
    display:flex;
    flex-wrap:wrap;
    margin:0 -15px;
}

.contact-info-main-container{
    padding: 0 15px;
}

.contact-info-main-container h3{
    color:black;
    font-weight:500;
    font-size:1.5rem;
}

.contact-info-item{
    color:#96bb7c;
    font-weight:500;
    display:flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.contact-info-item img{
    height:20px;
    width:20px;
    padding-right:10px;
    color:#96bb7c
}

.contact-info-item a{
    text-decoration: none;
    color:#96bb7c;
}

/* responsive */
@media screen and (max-width:480px){

    .navbar-first-container{
        padding:0 15px;
        max-width:calc(100vw);
        width:100%;
    }

    .navbar-second-container{
        max-width:calc(100vw);
        width:90%;
        padding:0;
        margin:0;
    }

    .navbar-right{
        margin-left: 0;
    }
    .navbar-right ul{
        grid-column-gap:0;
    }

    .home-section{
        padding:0 15px;
        max-width:calc(100vw);
        background-size: 270% 100%;
        background-position: 50% -25px;
    }

    .home-second-container{
        width:100%;
    }

    .home-main-container{
        top:70%;
        padding-left:15%;
    }

    .navbar-right{
        visibility: hidden;
    }

    .about-flex-container{
        flex-direction: column;
    }

    .about-section-bio-container{
        padding-left:0;
        width:90%;
    }

    .portfolio-content-flex-container{
        flex-direction: column;
    }

    .portfolio-card-container{
        max-width:100%;
    }

    .resume-content-flex-container{
        flex-direction: column;
    }

    .resume-content-img-container{
        margin-left:10%;
        max-width:70%;
    }

    .resume-content-bio-container{
        padding-top:20px;
        margin-left: 0;
        max-width:90%;
    }

    .button-container{
        margin-left:20%;
    }
}